body.webplayer-active:has(video[data-custom-player-active="true"]) .ytp-chrome-top,
body.webplayer-active:has(video[data-custom-player-active="true"]) .ytp-chrome-bottom,
body.webplayer-active:has(video[data-custom-player-active="true"]) .ytp-progress-bar-container,
body.webplayer-active:has(video[data-custom-player-active="true"]) .ytp-gradient-bottom,
body.webplayer-active:has(video[data-custom-player-active="true"]) .ytp-gradient-top,
body.webplayer-active:has(video[data-custom-player-active="true"]) .ytp-iv-video-content,
body.webplayer-active:has(video[data-custom-player-active="true"]) ytm-custom-control,
body.webplayer-active:has(video[data-custom-player-active="true"]) ytm-player-overlay-container,
body.webplayer-active:has(video[data-custom-player-active="true"]) ytm-mobile-video-player-overlay,
body.webplayer-active:has(video[data-custom-player-active="true"]) .ytp-settings-menu,
body.webplayer-active:has(video[data-custom-player-active="true"]) .ytp-popup {
    display: none !important;
    opacity: 0 !important;
    pointer-events: none !important;
    visibility: hidden !important;
}
